<Timestamps>
	<Entry Path="garmin-3000-acars\assets\antenna_green.png" Timestamp="13408987096"/>
	<Entry Path="garmin-3000-acars\assets\anntena.png" Timestamp="13408987096"/>
	<Entry Path="garmin-3000-acars\assets\tower_green.png" Timestamp="13408987096"/>
	<Entry Path="garmin-3000-acars\assets\plane.png" Timestamp="13408987096"/>
	<Entry Path="garmin-3000-acars\plugin.css" Timestamp="13409013277"/>
	<Entry Path="Plugins\g3000-acars.xml" Timestamp="13408987096"/>
	<Entry Path="garmin-3000-acars\plugin.js" Timestamp="13409013277"/>
	<Entry Path="garmin-3000-acars\assets\tower.png" Timestamp="13408987096"/>
</Timestamps>

